* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", serif;
}

body {
    background-color: #fff;
}

/* Navbar Section */
.navbar {
    width: 100%;
    height: 12vh;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.navbar img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.navbar .nav-name {
    width: 20%;
    text-align: center;
    font-size: 20px;
}

.navbar-links {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}

/* Navbar close */

/* Side navbar */
.side-navbar {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    display: none;
}

.side-navbar-link {
    margin-bottom: 15px;
}

.side-navbar-link a {
    text-decoration: none;
    color: white;
}

.navbar-menu-toggle {
    display: none;
}

/* Side navbar close */

/* Content Section */
.content-1 {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
}

.box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.box1 {
    width: 50%;
}

.sub-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 10 px;
}

.sub-box p {
    font-size: 20px;
}

.sub-box1 {
    position: relative;
    text-align: center;
    isolation: isolate;
}

.sub-box1 img {
    width: 70%;
    height: 100vh;
}

.image_content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    background-color: #8ec5fc;
    box-shadow: 0px 0px 10px 0px white;
    border-radius: 5px;
}

.image_content1 {
    transform: translate(calc(-70% - 12rem), calc(-50% - 8rem));
}

.image_content1 span {
    padding: 10px 12px;
    font-size: 1.5rem;
    color: white;
    background-color: #8ec5fc;
    border-radius: 100%;
}

.image_content1 h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.image_content1 p {
    color: white;
}

.image_content2 {
    transform: translate(calc(-40% + 8rem), calc(-40% + 10rem));
}

.image_content2 ul {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.image_content2 li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    color: white;
}

.image_content2 span {
    font-size: 1.5rem;
    color: white;
}


#btn {
    height: 8vh;
    width: 37%;
    color: #fff;
    border: none;
    outline: none;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    border-radius: 5px;
    padding: 5px;
}

#btn:hover {
    cursor: pointer;
    color: black;
}

section {
    margin-bottom: 60px;
}

.sub-box h3 {
    font-size: 30px;
}

/* content1 close */

/* content2  */
.content-2 {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.logo-partner img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.logo-partner {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;

}

/* content-2 close */

/* content-3 */
.content-3 {
    gap: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.card {
    box-shadow: 0px 0px 10px 0px whitesmoke;
    width: 25%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 5px;

}

.big-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.card img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.card h4 {
    color: #8ec5fc;
}

.content-3 h2 {
    color: #8ec5fc;
}

/* content3 close */

/* content 4 */
.content-4 {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content-img {
    width: 50%;
    height: 90vh;
}

.content-img img {
    width: 100%;
    height: 90vh;
    border-radius: 20px;
}

.section-4-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    height: 90vh;
    /* background-color: #8ec5fc; */
}

.doct-card {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.doct-small-box {
    border-radius: 10px;
    width: 70%;
    height: 12vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px whitesmoke;

}

.doct-small-box img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: #8ec5fc;
}

.doct-content h2 {
    color: #8ec5fc;
}

.doct-content p {
    color: #333333;
}

.small-box-content h5 {
    color: #8ec5fc;
}

.small-box-content p {
    color: #333333;
}

/* content4 close */

/* content5 */
.content-5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-schdule-bigcontent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-schedule {
    width: 40%;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.section-schdule-img img {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-big-content {
    display: flex;
    gap: 20px;
}

.section-big-content i {
    font-size: 25px;
    color: #8ec5fc;
}

.schdule-btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #8ec5fc;
    color: #fff;
    border-radius: 30px;
}

.schedule-content h1 {
    color: #8ec5fc;
}

.schedule-content p {
    color: #333333;
}

/* content5 close */
/* content6 */
.content-6 {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spcial-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.special-content {
    width: 80%;
    padding: 10px;
    text-align: center;
}

.special-card-1 {
    width: 25%;
    height: 55vh;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px whitesmoke;
}

.special-img img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.special-content-page {
    width: 100%;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special-content-page h2 {
    color: #8ec5fc;
}

.special-content-page p {
    color: #333333;
}

/* content6 close */

/* content 7 */
.swiper {
    width: 300px;
    height: 300px;
  }
.container-testmonials {
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.section-header {
    text-align: center;
}

.section-header h2 {
    font-size: 35px;
    color: #8ec5fc;
    line-height: 1.2;
    font-weight: 600;
}

.testmonials-item {
    width: 40%;
    padding: 20px;
    height: max-content;
    border-radius: 20px;
    background-color: #8ec5fc;
}

.testmonials-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

.testmonials-item .info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testmonials-item .rating {
    font-size: 14px;
    color: #FFD700;
}

.content-7 .swiper-pagination {
    position: relative;
    border: auto;
    margin-top: 40px;

}

.content-7 .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: #333333;
}

.content-7 {
    padding: 40px 0;
} 
/* content 7 close */

/* footer */
footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #333333;
}
/* footer close */

/* content-8 */
.content-8 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-8-heading {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title {
    text-align: center;
    padding: 10px;
    color: #8ec5fc;
}

.content-8-heading h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.content-8-button {
    width: 20%;
}

.content-8-button button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #8ec5fc;
    color: #fff;
    border-radius: 20px;
}

.content-8-bigbox {
    width: 80%;
    border-radius: 10px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
}

/* content8 close */

.content-9{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.frame{
    width:20%;
}
.heading{
    width: 20%;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.heading h3{
    color: #8ec5fc;
    font-size: 25px;
    font-weight: 600;
}
.links a{
    text-decoration: none;
    color: #333333;
}
.frame-logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.con-icon{
    display: flex;
    justify-content: center;
    gap:10px;
    font-size: 25px;
}
.con-title h3{
    color: #8ec5fc;
    font-size: 25px;
    font-weight: 600;
}
/* Mobile Responsive */
@media screen and (min-width:268px) and (max-width:700px) {
    .navbar-links {
        width: 100%;
        display: none;
    }

    .navbar-menu-toggle {
        display: block;
    }

    .side-navbar {
        display: block;
        width: 100%;
        height: max-content;
        position: static;
    }

    .sub-box {
        width: 100%;
    }

    .content-1 {
        width: 100%;
        height: max-content;
        flex-direction: column;
    }

    .box {
        width: 100%;
        height: max-content;
    }

    .image_content1 {
        display: none;
    }

    .image_content2 {
        display: none;
    }

    .box1 {
        width: 100%;
        height: max-content;
    }

    .sub-box1 img {
        width: 100%;
        height: max-content;
    }

    .navbar img {
        display: none;
    }

    .content-2 {
        padding: 5px;
        width: 100%;
        height: max-content;
    }

    .logo-partner {
        width: 100%;
        height: max-content;
        flex-wrap: wrap;
        align-items: center;
    }

    .logo-partner {
        height: max-content;
    }

    .big-card {
        width: 100%;
        flex-direction: column;
        height: max-content;
    }

    .card {
        width: 100%;
        height: max-content;
    }

    .content-3 {
        width: 100%;
        height: max-content;
    }

    .content-4 {
        width: 100%;
        flex-direction: column;
    }

    .content-img img {
        width: 100%;
        height: max-content;
    }

    .content-img {
        width: 100%;
        height: max-content;
    }

    .section-4-content {
        width: 100%;
    }

    .doct-card {
        width: 100%;
    }

    .doct-small-box {
        width: 100%;
        padding: 10px;
        height: max-content;
    }

    .doct-content {
        width: 100%;
        height: max-content;
    }

    .section-schdule-bigcontent {
        flex-direction: column;
        width: 100%;
    }

    .section-schedule {
        width: 100%;
        padding: 10px;
    }

    .section-schdule-img {
        width: 100%;
        height: max-content;
    }

    .section-schdule-img img {
        width: 100%;
        height: max-content;
    }

    .special-card-content {
        width: 100%;
    }

    .special-content {
        width: 100%;
    }

    .special-content p {
        text-align: justify;
    }

    .special-card {
        flex-direction: column;
        width: 100%;
    }

    .special-card-1 {
        width: 100%;
    }

    .testmonials-item .info p {
        text-align: center;
        color: #333333;
    }

    footer {
        width: 100%;
    }

    .content-8-bigbox {
        width: 100%;
        padding: 10px;
        flex-direction: column;
        height: max-content;
    }

    .content-8-heading {
        width: 100%;
    }

    .content-8-button {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .about{
        width:100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .frame{
        width: 100%;
    }
    .heading{
        width: 100%;
        padding: 10px;
    }
    .contact{
        width: 100%;
    }
    .con-title{
        text-align: center;
    }
}